<%- include('partials/header') %>



 <!-- https://fonts.google.com/specimen/Open+Sans -->
 <link rel="stylesheet" href="css/all.min.css" />
 <!-- https://fontawesome.com/ -->
 <link rel="stylesheet" href="css/bootstrap.min.css" />
 <!-- https://getbootstrap.com/ -->
 <link rel="stylesheet" href="css/tooplate-style.css" />
<link rel="stylesheet" href="css/style.css" type="text/css">
<nav>
    <div> 
    <ul>
     
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/faqs">FAQs</a></li>
      <li><a href="/secrets">SECRETS</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/">HOME</a></li>
      
       
        <li class="log1" id="logo"><a class="" href="/login">LOGIN</a></li>
        <li class="log1" id="logo"><a class="" href="/register">REGISTER</a></li>
        <li class="log1" id="logo"><a class="" href="/logout">LOGOUT?</a></li>
        
     
    </ul>
    </div>

 
 
  <div class="aboutt">
  <br>
  <br>

  

      <!-- Features -->
      <div class="container tm-features-section" id="features">
        <div class="row tm-features-row">
          <section class="col-md-6 col-sm-12 tm-feature-block">
            <header class="tm-feature-header">
              <i class="fas fa-5x fa-anchor tm-feature-icon"></i>
              <br>
              <h3 class="tm-feature-h">Why this Website</h3>
              <br>
            </header>
            <p class="lead">
              Secrets is a website where one can share his/her secrets to the open world without fearing their identity would be leaked to different sources.
            </p>
            <p class="lead">
                Evolution of technological/smart gadgets have resulted in a lot of loneliness, people fear of being judged, and they dont usually share everything to their dear ones. But it is necsarry to talk. It is okay to have secrets, judgements, shared with your dear ones.
                Secrets website will allow you to share freely, share anything. We are with you!
            </p>
          </section>
          <section class="col-md-6 col-sm-12 tm-feature-block">
            <header class="tm-feature-header">
              <i class="fas fa-5x fa-atom tm-feature-icon"></i>
              <br>
              <h3 class="tm-feature-h">About structure of Website</h3>
            </header>
            <br>
            <p class="lead">
              This website has been made solely to focus on security, and sharing secrets, commenting on each others secrets, and get in touch with the world of people who feel same, have same secrets.
            </p>
          </section>
        </div>
      </div>
      <br>
      <hr>
      <br>
      
      
      <div class="container" id="activities">
        <div class="row">
          <div class="col-12">
            <div class="tm-parallax">
              <header class="tm-parallax-header">
                <h2 class="">What to Share</h2>
              </header>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-6">
            <div class="tm-activity-block">
              <div class="tm-activity-img-container">
         
              </div>
              <div class="tm-activity-block-text">
                  <br>
                <h3 class="tm-text-blue">Your State of Mind</h3>

                <p class="lead">
                    Everybody may go through rough patches, or may be excited about some news, and so one can share their state of mind to the world!
                </p>
              </div>
            </div>
          </div>
        
         
          <div class="col-lg-6">
            <div class="tm-activity-block mr-lg-0 ml-lg-auto">
              <div class="tm-activity-img-container">
               
              </div>
              <div class="tm-activity-block-text">
                  <br>
                <h3 class="tm-text-blue">Love/Crush</h3>
                <p class="lead">
                  Okay, everybody has a crush, including me. You can share the name of your crush.
                </p>
              </div>
            </div>
          </div>

          <br>
          <div class="col-lg-6">
            <div class="tm-activity-block">
              <div class="tm-activity-img-container">
      
              </div>
              <br>
              <div class="tm-activity-block-text">
                <h3 class="tm-text-blue">Your feelings</h3>
                <p class="lead">
                    Your feelings, which you can share and relate with others can make you feel better.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tm-activity-block mr-lg-0 ml-lg-auto">
              <div class="tm-activity-img-container">
               
              </div>
              <br>
              <div class="tm-activity-block-text">
                <h3 class="tm-text-blue">Weird Things</h3>
                <p class="lead">
                    Everyone has their own way of doing things, for some it might be weird, for some might be normal. Share so that you dont feel alone!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <br>
 
  
      <section class="container tm-company-section" id="company">
        <div class="row">
          <div class="col-xl-9 col-lg-8 col-md-12 tm-company-left">
            <div class="tm-company-about">
              <div class="tm-company-img-container">

              </div>
              <div class="tm-company-about-text">
                <header>
                  <h2 class="tm-company-about-header">Myself</h2>
                </header>
                <br>
                <p class="lead">
                    I am a student pursuing B.Tech in Computer Engineering
                </p>
                <p class="lead">
                  We keep your security and secrets very safely in the database, in which even we cannot see your account id or password. You have an option to login or register as per your google or facebook ids, and as mentioned earlier, your ids and passwords are securely hashed and stored.
                </p>
                <br>
                <h3>Thankyou for reading this page!</h3>
              </div>
            </div>
          </div>
          <div
            class="col-xl-9 col-lg-4 col-md-12 tm-company-right  ml-lg-auto mr-lg-0"
          >
         <br>
         <br>
         <br>
            <p class="lead">Share Your Secret</p>
            <a class="l" href="/login">Login</a>
            <a class="l" href="/register">Register</a>
        
            
          </div>
        </div>
      </section>

        <br>
    


    <!-- Footer Section Begin -->
    <section class="footers">
        <div class="container">
          
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p class="lead"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 
    <!-- Footer Section End -->

<%- include('partials/footer') %>