<%- include('partials/header') %>

<nav>
    <div> 
    <ul>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/faqs">FAQs</a></li>
      <li><a href="/secrets">SECRETS</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/">HOME</a></li>
      <li class="log1" id="logo"><a class="" href="/login">LOGIN</a></li>
      <li class="log1" id="logo"><a class="" href="/register">REGISTER</a></li>
      <li class="log1" id="logo"><a class="" href="/logout">LOGOUT?</a></li>
    </ul>
    </div>
  </nav>

  <link rel="stylesheet" href="css/all.min.css" />
 <!-- https://fontawesome.com/ -->
 <link rel="stylesheet" href="css/bootstrap.min.css" />
 <!-- https://getbootstrap.com/ -->
 <link rel="stylesheet" href="css/tooplate-style.css" />
<link rel="stylesheet" href="css/style.css" type="text/css">
  

<div class="gettouch-section">
  <h1>FAQ</h1>
  <h4 class="gettouch-section">Q: Can anyone see my name, id or email?</h4>
  <br>
  <h4>ANS: NO, we have kept your email addresses secured in a database with hashes and salts, and also if you login with google your google mail will be converted into a hash. So the clients who login to the website and submit a secret, wont see others name, id, etc.</h4>
  <hr><br>
  <h4 class="gt-text">Q: How can one register? Do we have options like Logging in with Google or github or facebook?</h4>
  <br>
  <h4 class="cw-text">ANS: YES, you can register through your Google id and facebook id.</h4>
  <hr><br>
  <h4 class="cw-text">Q: Is secrets page accessible offline?</h4>
  <br>
  <h4 class="cw-text">ANS: NO, you have to login or register to message us, or share your secrets or access secrets page.</h4>
  <hr><br>
  <h4 class="cw-text">Q: How can we contact the owner of this website?</h4>
  <br>
  <h4 class="cw-text">ANS: You can contact the owner by going to the contact page. You will find all the useful info about the owner</h4>
  <hr><br>
  <h4 class="cw-text">Q: How many secrets can we upload?</h4>
  <br>
  <h4 class="cw-text">ANS: NO, you can only submit your secret once. If you want to submit another secret then the previous secret would be deleted and new secret will be displayed</h4>
  <hr><br>
  <h4 class="cw-text">Q: If we forget our password then what process follows?</h4>
  <br>
  <h4 class="cw-text">ANS: For security reasons, you will be sent an otp on your valid email address, when you complete the process, your password will be changed, but your secrets will be deleted.</h4>


  <br>
  <br>
  <p class="lead">Share Your Secret</p>
  <a class="l" href="/login">Login</a>
  <a class="l" href="/register">Register</a>


</div>



        <!-- Footer Section Begin -->
        <section class="footer-section">
            <div class="container">
           
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="copyright-text">
                            <p class="lead"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Secti

<%- include('partials/footer') %>