<%- include('partials/header') %>



<link rel="stylesheet" href="css/style.css" type="text/css">
<nav>
  <div> 
  <ul>
   
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/faqs">FAQs</a></li>
    <li><a href="/secrets">SECRETS</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/">HOME</a></li>
    
  </ul>
  </div>
 

</nav>



<div class="jumbotron centered">
  <div class="container">
   
  
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <h3 class="lead">UNLOCK SECRETS AND SHARE YOUR SECRETS ANONYMOUSLY!!!</h3>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
  </div>

  <br>
  <br>


  <div class="container">
   
    <p class="lead">Secrets is page in which you can share your personal secrets, such as confessions, crush, current topics that you like, etc 
    </p>
  </div>
</div>

      <!-- Footer Section Begin -->
      <section class="footers">
        <div class="container">

            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p class="lead"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->



<%- include('partials/footer') %>
