<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-up form</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<h1>Welcome!</h1>

<body style="margin-top: 30px;">
    <div class="container register">
        <div class="d-flex justify-content-center">
            <div class="contact">
                <form method="POST" action="PasswordReset">
                    <!-- <div class="form-group">
                        <label for="email">Username</label>
                        <input type="email" class="form-control" name="username">
                      </div> -->
                    
                        <p>
                        <label>Enter the existing username</label>
                        <input type="email" placeholder=""
                            name="username" required autocomplete="off" />
                        </p>    
                       
                    <p>
                        <label>Enter new Password</label>
                        <input type="password" name="password" required>
                    </p>
                    <p>
                        <label>Confirm new Password</label>
                        <input type="password" name="confirmpass" required>
                    </p>
                    <p class="full">
                        <button type="submit">Submit</button>
                    </p>
                </form>
                <br>
            </div>
        </div>
    </div>
</body>
</html>
